<div class="left-align-wrap">
  <h2>Add transaction</h2><br/>

  <%= form_for([@user, @transaction]) do |f| %>
    <% if @transaction.errors.any? %>
      <h4 class="error-header"><%= pluralize(@transaction.errors.count, "error") %> occurred!</h4>

      <ul class="error-list">
        <% @transaction.errors.full_messages.each do |msg| %>
          <li class="error-msg"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="field">
      <%= f.label :payee, class:"field-label" %>
      <%= f.text_field :payee, placeholder:"Firstname Lastname", autofocus: true, class:"field-input" %>
    </div><br/>

    <div class="field">
      <%= f.label :email, class:"field-label" %>
      <%= f.text_field :email, placeholder:"example@address.com", autofocus: true, class:"field-input" %>
    </div><br/>

    <div class="field">
      <%= f.label :ministry, class:"field-label" %>
      <%= f.text_field :ministry, placeholder:"MEDG", autofocus: true, class:"field-input" %>
    </div><br/>

    <div class="field">
      <%= f.label :quantity, "# of tickets", class:"field-label" %>
      <%= f.number_field :quantity, placeholder:"2", autofocus: true, class:"field-input" %>
    </div><br/>

    <div class="field">
      <%= f.label :debt, "$ amount owed", class:"field-label" %>
      <%= f.number_field :debt, class:"field-input", step: 0.01 %>
    </div><br/>

    <div class="field">
      <%= f.label :status, "Have the tickets been paid for?", class:"field-label" %>
      <%= f.check_box :status, class:"field-input" %>
    </div><br/>

    <%= f.hidden_field :user_id, value: @user.id %>

    <div style="text-align: center;">
      <%= f.submit "ADD", class:"submit" %>
    </div>
  <% end %>

  <% @transactions.each_with_index do |t, i| %>
    <h4 id="italic">Transaction <%= i + 1 %></h4>
    <p><b>Payee:</b> <%= t.payee %></p>
    <p><b>Email:</b> <%= t.email %></p>
    <p><b>Ministry:</b> <%= t.ministry %></p>
    <p><b>Quantity purchased:</b> <%= t.quantity %></p>
    <p><b>$ owed:</b> <%= t.debt %></p>
    <p><b>Raffle ticket #:</b> <%= t.ticket_number %></p>
    <p><b>Status:</b>
      <!-- use if helper to display check or x based on status -->
    </p>

  <% end %>
</div>
