<!DOCTYPE html>
<html>
  <head>
    <title>Raffle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-primary">
      <ul class="nav">
        <% if user_signed_in? %>
          <%= link_to "Home", users_url, class:"nav-item nav-link", style:"color: white;" %>
          <%= link_to "Profile", user_url(current_user), class:"nav-item nav-link", style:"color: white;" %>
          <%= link_to "Settings", "/users/edit", class:"nav-item nav-link", style:"color: white;" %>
          <%= link_to "Logout", destroy_user_session_url, method: :delete, class:"nav-item nav-link", style:"color: white;" %>
        <% else %>
          <%= link_to "Login", new_user_session_url, class:"nav-item nav-link", style:"color: white;" %>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
