<!DOCTYPE html>
<html>
  <head>
    <title>Raffle</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= image_tag 'OPS_Walk_Run_Banner.png', class:'banner' %>

    <% if user_signed_in? %>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </div>

          <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav">
              <% if current_user.admin? %>
                <li class="<%= 'active' if current_page?(root_url) || current_page?(users_url) %>"><%= link_to "Home", users_url, class:"nav-link" %></li>
              <% end %>
              <li class='<%= "active" if current_page?(user_url(current_user)) %>'><%= link_to "Profile", user_url(current_user), class:"nav-link" %></li>
              <li class='<%= 'active' if current_page?('/users/edit')%>'><%= link_to "Settings", "/users/edit", class:"nav-link" %></li>
              <li class='<%= "active" if current_page?('/users/trash') %>'><%= link_to "Trash", "/users/trash", class:"nav-link" %></li>
              <li><%= link_to "Logout", destroy_user_session_url, method: :delete, class:"nav-link" %></li>
            </ul>
            <% if flash[:notice] %>
              <div class="alert"><%= flash[:notice] %></div>
            <% end %>
          </div>
        </div>
      </nav>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
